@import './_variables';
@import './components/calendar';
@import './components/reserve_card';
@import './components/stars';

body {
	background: #ececec;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: $darkGray;
}

a {
	text-decoration: none;
}

input, textarea {
	&.field {
		outline: none;
		padding: 5px 10px;
		background: none;
		font-size: 1em;
		line-height: 1.2em;
	}
}

label {
	font-weight: 700;
	color: $darkGray;
	margin-bottom: 5px;
	display: block;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}
