.calendar-wrapper {
  position: relative;
  display: inline-block;
}
.calendar-wrapper .calendar-fields {
  padding: 5px 10px;
  border: 1px solid #d5d3d4;
  display: inline-block;
}
.calendar-wrapper .calendar-fields .calendar-field {
  border: none;
  border-radius: 4px;
}
.calendar-wrapper .calendar-fields .calendar-field,
.calendar-wrapper .calendar-fields .calendar-field-arrow {
  display: inline-block;
  color: #9e9e9e;
  font-weight: 500;
  font-size: 1.4em;
}
.calendar-wrapper .calendar-fields .calendar-field-arrow {
  padding-left: 10px;
  padding-right: 10px;
}
.calendar-wrapper .calendar-fields .calendar-field:focus {
  background: #a1d9d6;
  border: none;
}
.calendar-wrapper .calendar {
  border: 1px solid #d5d3d4;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  box-shadow: 0px 1px 31px -13px rgba(0, 0, 0, 0.75);
}
.calendar-wrapper .calendar .calendar-header {
  background: #00dbb1;
  color: #e4fbf6;
  font-size: 1.6em;
  text-align: center;
  padding: 20px 30px;
  display: block;
}
.calendar-wrapper .calendar .calendar-header .calendar-btn {
  color: #e4fbf6;
}
.calendar-wrapper .calendar .calendar-header .calendar-btn-chevron {
  font-size: 1em;
  color: #464e4d;
  font-weight: 900;
}
.calendar-wrapper .calendar .calendar-body {
  background: #fff;
}
.calendar-wrapper .calendar .calendar-body .calendar-table {
  text-align: center;
  width: 100%;
  font-size: 0.9em;
  font-weight: 600;
  border-spacing: 0;
  border-collapse: collapse;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th, .calendar-wrapper .calendar .calendar-body .calendar-table td {
  color: #d5d3d4;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item-wrapper.range-in, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item-wrapper.range-in {
  background: #c3fef8;
  color: #fff;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item-wrapper.range-in .calendar-item, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item-wrapper.range-in .calendar-item {
  color: #00dbb1;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item-wrapper.range-start, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item-wrapper.range-start {
  position: relative;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item-wrapper.range-start:before, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item-wrapper.range-start:before {
  content: " ";
  position: absolute;
  left: 50%;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: #c3fef8;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item-wrapper.range-end, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item-wrapper.range-end {
  position: relative;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item-wrapper.range-end:before, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item-wrapper.range-end:before {
  content: " ";
  position: absolute;
  right: 50%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #c3fef8;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 5px;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item.text-dark, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item.text-dark {
  color: #9e9e9e;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item.text-light, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item.text-light {
  color: #d5d3d4;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item.pill, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item.pill {
  border-radius: 50%;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item.active, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item.active {
  position: relative;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item.active:before, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item.active:before {
  content: " ";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 4px solid #00dbb1;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item.active.pill:before, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item.active.pill:before {
  border-radius: 50%;
}
.calendar-wrapper .calendar .calendar-body .calendar-table th .calendar-item.range-point, .calendar-wrapper .calendar .calendar-body .calendar-table td .calendar-item.range-point {
  background: #00dbb1;
  color: #fff;
}
.calendar-wrapper .calendar .calendar-btn {
  display: inline-block;
  background: none;
  text-decoration: none;
  color: #464e4d;
  border: none;
  cursor: pointer;
  outline: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 4px;
  padding: 3px 7px;
}
.calendar-wrapper .calendar .calendar-btn:focus {
  border-color: #00dbb1;
  box-shadow: 0 0 0 0.25rem rgba(7, 176, 144, 0.5);
}
body {
  background: #ececec;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

input.field, textarea.field {
  outline: none;
  padding: 5px 10px;
  background: none;
  font-size: 1em;
  line-height: 1.2em;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
