.calendar-wrapper {
	position: relative;
	display: inline-block;

	.calendar-fields {
		padding: 5px 10px;
		border: 1px solid $lightGray;
		display: inline-block;

		.calendar-field {
			border: none;
			border-radius: 4px;
		}

		.calendar-field,
		.calendar-field-arrow {
			display: inline-block;
			color: $darkGray;	
			font-weight: 500;
			font-size: 1.4em;
		}

		.calendar-field-arrow {
			padding-left: 10px;
			padding-right: 10px;
		}

		.calendar-field:focus {
			background: $blue;			
			border: none;
		}
	}

	.calendar {
		border: 1px solid $lightGray;
		position: absolute;
		top: calc(100% + 5px);
		width: 100%;
		-webkit-box-shadow: 0px 1px 31px -13px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 1px 31px -13px rgba(0,0,0,0.75);
		box-shadow: 0px 1px 31px -13px rgba(0,0,0,0.75);

		.calendar-header {
			background: $green;
			color: $lightWhite;
			font-size: 1.6em;
			text-align: center;
			padding: 20px 30px;
			display: block;

			.calendar-btn {
				color: $lightWhite;
			}

			.calendar-btn-chevron {
				font-size: 1em;
				color: $dark;
				font-weight: 900;
			}
		}

		.calendar-body {
			background: #fff;

			.calendar-table {
				text-align: center;
				width: 100%;
				font-size: 0.9em;
				font-weight: 600;
				border-spacing: 0;
    			border-collapse: collapse;

				th, td {
					color: $lightGray;
					text-align: center;
					vertical-align: middle;
					padding: 0px;

					.calendar-item-wrapper {
						&.range-in {
							background: $lightGreen;
							color: $white;	

							.calendar-item {
								color: $green;
							}				
						}

						&.range-start {
							position: relative;	

							&:after {
								content: ' ';
								position: absolute;
								left: 50%;
								right: 0px;
								top: 0px;
								bottom: 0px;
								background: $lightGreen;
								z-index: 0;
							}	

							&.range-in-occupied {															
								&:after {
									border-top: 4px solid $red;
									border-bottom: 4px solid $red;
									background: $lightGreen;
								}
							}	
						}

						&.range-end {
							position: relative;	

							&:before {
								content: ' ';
								position: absolute;
								right: 50%;
								left: 0px;
								top: 0px;
								bottom: 0px;
								background: $lightGreen;
								z-index: 0;
							}	

							&.range-in-occupied {								
								&:before {
									border-top: 4px solid $red;
									border-bottom: 4px solid $red;
									background: $lightGreen;
								}
							}					
						}

						&.range-in-occupied {
							background: $lightRed;

							.calendar-item {
								color: $red;
							}		

							&.range-in {
								position: relative;	
								background: $lightGreen;
								z-index: 0;

								.calendar-item {
									color: $green;
								}	

								&:before {									
									content: ' ';
									position: absolute;
									top: 0px;
									left: 0px;
									right: 0px;
									height: 4px;
									z-index: 1;
									background: $red;
								}	

								&:after {									
									content: ' ';
									position: absolute;
									bottom: 0px;
									left: 0px;
									right: 0px;
									height: 4px;
									z-index: 1;
									background: $red;
								}			
							}					
						}

						&.range-start-occupied {
							position: relative;	

							&:after {
								content: ' ';
								position: absolute;
								left: 50%;
								right: 0px;
								top: 0px;
								bottom: 0px;
								background: $lightRed;
								z-index: 0;
							}	

							&.range-start {
								&:after {
									border-top: 4px solid $red;
									border-bottom: 4px solid $red;
									background: $lightGreen;
								}
							}	

							&.range-in {								
								&:after {
									border-top: 4px solid $red;
									border-bottom: 4px solid $red;
									background: $lightGreen;
								}
							}						
						}

						&.range-end-occupied {
							
							position: relative;	

							&:before {
								content: ' ';
								position: absolute;
								right: 50%;
								left: 0px;
								top: 0px;
								bottom: 0px;
								background: $lightRed;
								z-index: 0;
							}	

							&.range-end {
								&:before {
									border-top: 4px solid $red;
									border-bottom: 4px solid $red;
									background: $lightGreen;
								}
							}	

							&.range-in {								
								&:before {
									border-top: 4px solid $red;
									border-bottom: 4px solid $red;
									background: $lightGreen;
								}
							}
						}

						.calendar-item {
							width: 40px;
							height: 40px;
							line-height: 40px;
							display: inline-block;
							padding: 5px;

							&.text-dark {
								color: $darkGray;	
							}

							&.text-light {
								color: $lightGray;	
							}

							&.pill {
								border-radius: 50%;
							}

							&.active {
								position:relative;

								&:before {
									content: ' ';
									position: absolute;
									top: 0px;
									bottom: 0px;
									left: 0px;
									right: 0px;
									border: 4px solid $green;
								}
								
								&.pill:before {		
									border-radius: 50%;
								}
							}

							&.range-point-occupied {
								background: $red;
								color: $white!important;
								z-index: 1;

								&.active {
									&:before {
										border: 4px solid $red;
									}
								}
							}

							&.range-point {
								background: $green;
								color: $white!important;
								z-index: 1;
							}
						}
					}
				}
			}
		}

		.calendar-btn {
			display: inline-block;
			background: none;
			text-decoration: none;
			color: $dark;
			border: none;
			cursor: pointer;
			outline: 0;
			transition: 
				color .15s ease-in-out,
				background-color .15s ease-in-out,
				border-color .15s ease-in-out,
				box-shadow .15s ease-in-out;
			border-radius: 4px;
			padding: 3px 7px;

			&:focus {
				border-color: $green;
    			box-shadow: 0 0 0 0.25rem rgb(7 176 144 / 50%);
			}
		}

		.calendar-btn-link {
		}
	}
}