.stars {
  cursor: pointer;
  display: inline-block;

  	.star-wrapper {
  		
  	}
  
	&:hover {
		.star polygon {
			fill: $star !important;
		}
	}
  
	.star {
		polygon {		
			fill: url('#grad');
		}

		&:hover ~ .star {
			polygon {
				fill: $star !important;
			}
		}
	}
  
	&[data-stars] {
		.star polygon {
			fill: $lightGray;
		}
	}

	&[data-stars="1"] {
		.star:nth-child(1) ~ .star polygon {
			fill: $lightGray;
		}
	}

	&[data-stars="2"] {
		.star:nth-child(2) ~ .star polygon {
			fill: $lightGray;
		}
	}

	&[data-stars="3"] {
		.star:nth-child(3) ~ .star polygon {
			fill: $lightGray;
		}
	}

	&[data-stars="4"] {
		.star:nth-child(4) ~ .star polygon {
			fill: $lightGray;
		}
	}
  
	&[data-stars="5"] {
		.star:nth-child(5) ~ .star polygon {	
			fill: $lightGray;
		}
	}
}